@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #454545;
    --cor-secundaria: #FFE6C7;
    --cor--terciaria: #FF6000;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho {
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.cabecalho__menu__links {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor--terciaria);
    text-decoration: none;
}
.titulo-destaque {
    color: var(--cor--terciaria);
}
.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8% 15% ;
}
.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.h1 {
    font-size: 36px;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}
.h2 {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}
.paragrafo {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;

}
.imagem_redimencionada {
    width: 80%;
    height: auto;
    width: 615px;
    height: 0;
    border-radius: 20px;
    text-align: right;
}
.botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.aparencia__botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor--terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}
.aparencia__botoes:hover {
    background-color: #272727;
}
.rodape {
    background-color: var(--cor--terciaria);
    color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}